[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
schedule = "*"
notify-py = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-mock = "*"
mypy = "*"
darglint = "*"
flake8-docstrings = "*"
wemake-python-styleguide = "*"
flake8-pytest-style = "*"
flake8-bandit = "*"

[requires]
python_version = "3.8"
